.adress{
    width: 250px;
    height: 180px;
    box-shadow: 0px 1px 5px 1px rgb(160, 159, 159);
    border-radius: 4px;
    background-color: white;
}
.adress .location{
    display: flex;
    flex-direction: row;
}
.adress .mail{
    display: flex;
    flex-direction: row;
}