.home {
    background-image: url('/public/Images/bg1.png');
    background-repeat: no-repeat;
    background-size: 100% 100vh;
}

@media only screen and (max-width: 768px) {
    .home {
        background-size: 100% 60vh;
    }
}
